<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilos.css">
    <title>WEB_1 | {%block title%}{%endblock%}</title>
</head>
<body>
    <header style="height: 30px;
    background-color: cornflowerblue;
    color: aliceblue;
    font-size: x-large;
    ">
    WEB_1
    </header>
    {%block content%}{%endblock%}
</body>
</html>