{%extends 'base.html'%}

{%block title%}Home{%endblock%}

{%block content%}
<!-- <FORM  action="/guardar" method="post" autocomplete > 
    <DIV title="Escriba su nombre de usuario, máximo 15 caracteres"> 
        <label for="usuario">Nombre de usuario</LABEL>
        <input type="text" id="usuario" maxlength="15" name="usuario" required placeholder="p.e. Casimiro">
    </DIV>
    <DIV>
        <LABEL for="correo"> Correo electrónico </LABEL>
        <INPUT type="email" id="correo" name="correo" required  placeholder="p.e. ejemplo@empresa.com"/> 
    </DIV>
    <DIV title="Debe contener al menos un número y una letra minúscula y mayúscula, y al menos 8 o más caracteres">
        <LABEL for="clave1" >Escribe la clave</LABEL>
        <INPUT id="clave1" name="clave1" required type="password" placeholder="Por ejemplo, X8df!90EO" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" > 
    </DIV>
    <DIV title="Debe contener al menos un número y una letra minúscula y mayúscula, y al menos 8 o más caracteres">
        <LABEL for="clave2" >Escribe la clave otra vez</LABEL>
        <INPUT id="clave2" name="clave2" required type="password" placeholder="Debe coincidir con la anterior" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" > 
    </DIV>

    <label for="cars">Choose a car:</label>
    <select id="cars" name="cars">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="opel">Opel</option>
      <option value="audi">Audi</option>
    </select> 

    <p>
        <input type="radio" id="dato1" name="num_ratio" value="1">
        <label for="dato1">uno</label><br/>
        <input type="radio" id="dato2" name="num_ratio" value="2">
        <label for="dato2">Dos</label><br/>
        <input type="radio" id="dato3" name="num_ratio" value="3">
        <label for="dato3">Tres</label><br/>
    </p>

    <p>
        <input type="checkbox" name="vehiculo" value="Bike">
        <label for="checoches1">Bike</label><br>
        <input type="checkbox" name="vehiculo" value="car">
        <label for="checoches2">car</label><br>
        <input type="checkbox" name="vehiculo" value="boat">
        <label for="checoches3">boat</label><br>
    </p>

    <DIV> 
        <INPUT type="submit" value="Registro"> 
    </DIV> -->
    <!-- <DIV>Si ya eres miembro
        <a href="formulario.html" target="_blank"> ¡loguéate! </a>
    </DIV> -->
<!-- </FORM> -->

<form action="/guardar" method="post">
    <h2>Datos personales</h2>
    <input type="hidden" id="id" name="id" value="{%if datos%}{{datos[0]}}{%endif%}"><br/>


    <label for="nombre">Nombre: </label>
    <input type="text" id="nombre" name="nombre" value="{%if datos%}{{datos[1]}}{%endif%}"><br/>

    <label for="apellidos">Apellidos: </label>
    <input type="text" id="apellidos" name="apellidos" value="{%if datos%}{{datos[2]}}{%endif%}"><br/>

    <label for="dni">DNI: </label>
    <input type="text" id="dni" name="dni" value="{%if datos%}{{datos[3]}}{%endif%}"><br/>
    
    <label for="ocupacion">ocupacion</label>   
        <select id="ocupacion" name="ocupacion">
            <option value="-1">Seleccione ocupación</option>
            {% for o in ocupaciones%}
                <option value="{{o[0]}}" {%if (datos) and (datos[4] == o[0]) %} selected {%endif%} >{{o[1]}}</option>
            {%endfor%}
        </select>
    <br/>

    <hr>
        <h2>Números</h2>
        {% for num in numeros%}
            <input type="radio" id="dato{{num[0]}}" name="numero" value="{{num[0]}}" {%if (datos) and (num[0]==datos[5]) %}checked{%endif%}>
            <label for="dato{{num[0]}}">{{num[1]}}</label><br/>
        {%endfor%}
    <hr/>

    <hr>
        <h2>Vehículos</h2>
        {% for v in vehiculos%}
        <input type="checkbox" id="vh{{v[0]}}" name="vehiculo" value="{{v[0]}}" {%if (mi_vehiculos) and v[0] in mis_vehiculos%}checked{%endif%}>
        <label for="vh{{v[0]}}">{{v[1]}}</label><br/>
        {%endfor%}
    <hr/>

    <input type="submit" value="Enviar">
</form>

{%endblock%}
